{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "runtimeHelpers": false
    }],

    // Stage 0
    "@babel/plugin-proposal-function-bind",

    // Stage 3
    ["@babel/plugin-proposal-class-properties", {
      "loose": false
    }]
  ]
}
